.main-container {
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    padding-top: 10vh;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1220px;
    width: 100%;
    padding-bottom: 15vh;
}

.education {
    width: 100%;
    margin-bottom: 30px;
}

#education-header {
    padding: 10px;
    color: whitesmoke;
    background: black;
    border-radius: 10px;
    width: 100%;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.education-info {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#mich-logo {
    width: 14%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;
}

.college-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#college-info {
    color: whitesmoke;
    letter-spacing: -0.3px;
    font-size: 1.4em;
    margin-bottom: 5px;
}

#major {
    color: whitesmoke;
    letter-spacing: -0.3px;
    font-size: 1em;
    margin-bottom: 5px;
}

#uni-ranking {
    font-style: italic;
    color: #a0a0a0;
    letter-spacing: -0.3px;
    font-size: 0.9em;
}

.work {
    width: 100%;
    letter-spacing: -0.3px;
}

#work-header {
    padding: 10px;
    color: whitesmoke;
    background: black;
    border-radius: 10px;
    width: 100%;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.work-info {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    border-left: 5px solid; /* Color will be set dynamically in JS */
}

.work-info:hover {
    transform: translateY(-3px);
    background: linear-gradient(45deg, #000000, #0e0e0e, #131313, #131313, #225bd4);


}

.education-info:hover{
    transform: translateY((-3px))
}

.work-logo {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit:contain;
    grid-row: span 2;
    align-self: start;
    margin: 20px;
}

#work-details {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.organization-name {
    font-size: 1.4em;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    border: none;
}

#work-time-period {
    font-size: 0.8em;
    color: #a0a0a0;
    margin-left: 10px;
}

.work-position {
    font-size: 1em;
    color: white;
    margin-bottom: 10px;
    font-weight: 600;
}

.work-description {
    grid-column: 1 / -1;
    font-size: 0.9em;
    line-height: 1.6;
    color: rgb(229, 229, 229);
    font-weight: 500;
    letter-spacing: -0.3px;
}