.footer-container {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
    height: 80px;
    width: 100%;
    padding-bottom: 10px;
}

#footer-left {
    display: flex;
    align-items: center;
}

#scroll-top {
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: 0.25s ease;
    letter-spacing: -1px t;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

#scroll-top:hover {
    opacity: 0.6;
    cursor: pointer;
}

#footer-right {
    display: flex;
    align-items: center;
}

#footer-right a {
    margin-left: 40px;
    color: white;
    font-size: 1.5em;
    transition: 0.3s ease;
}

#footer-right a:hover {
    opacity: 0.6;
}

#footer-name {
    color: white;
    align-items: center;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 300;
    border-top: 1px solid whitesmoke;
    padding-top: 5px;
}