/* Header.css */
.header-container {
  width: 100%;
  height: 22vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 34px;
  height: 80px;
}

.header-container header {
  background-color: transparent;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-bottom: 20vh;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.home-button {
  font-size: 1.2em;
  font-weight: 600;
  color: #002466a4;
  text-decoration: none;
  transition: opacity 0.25s ease;
  letter-spacing: -1px;
}

.home-button:hover {
  opacity: 0.8;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  animation: fadeIn 1.2s ease-out;
}

.navbar-right a {
  margin-left: 40px;
  text-decoration: none;
  color: #002466a4;
  font-size: 1em;
  font-weight: 400;
  transition: opacity 0.25s ease;
  letter-spacing: -0.6px;
}

.navbar-right a:hover {
  opacity: 0.8;
  animation: ease 0.2s;
}

.navbar-right .Projects,
.navbar-right .Experience,
.navbar-right .home,
.navbar-right .Resume {
  margin-left: 40px;
  font-weight: 600;
  font-size: 0.96em;
  transition: 0.5s ease;
}

.navbar-right .Projects:hover,
.navbar-right .Experience:hover,
.navbar-right .home:hover,
.navbar-right .Resume:hover {
  border-bottom: 1px solid #002466a4;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #002466a4;
  z-index: 1001;
  transition: transform 0.3s ease;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    height: auto;
  }

  .navbar-right {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    top: 80px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }

  .navbar-right.show {
    display: flex;
    align-items: flex-end;
    max-height: 300px;
  }

  .navbar-right a {
    margin-left: 0;
    margin-bottom: 15px;
    font-size: 1.2em;
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: transform 0.5s ease;
  }
  
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(0px); }
  to { opacity: 1; transform: translateY(0); }
}

.header-container {
  animation: fadeIn 1.2s ease-out;
}

