.intro-section {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 60vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35vh;
    box-sizing: border-box;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1220px;
    width: 100%;
    padding: 0 10px;
    gap: 40px;
}

.intro-content {
    flex: 1;
    max-width: 60%;
}


.name {
    color: #002466b8;
    font-size: clamp(2rem, 6.3vw, 6.8rem);
    font-weight: 500;
    letter-spacing: -0.05em;
    margin-bottom: 0;
    text-align: left;
    white-space: nowrap;
}

.college {
    margin-top: 0.5rem;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    font-weight: 300;
    color: #052c73bf;
    text-align: left;
    padding-left: 4px;
    letter-spacing: -0.02em;
}

.intro-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 40%;
}

.intro-image img {
    max-width: 100%;
    max-height: 450px;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#socials {
    margin-top: 10px;
}

#socials a {
    color: #002466a4;
    font-size: 1.5em;
    margin-left: 10px;
    transition: 0.2s ease;
}

#socials a:hover{
    color: #002466;
    opacity: 0.8;
}

.scroll_to_about {
    display: flex;
    align-items: center; 
    background: transparent;
    border: none;
    padding-top: 20px;
    transition: transform 0.3s ease;
    padding-left: 10px;
    font-size: 0.45rem;
}

.scroll_to_about strong{
    display: flex;
    align-items: center; 
    background: transparent;
    color: whitesmoke;
    padding: 2px;
    scale: 1.9;
    transition-duration: 0.3s ease;
}

.scroll_to_about:hover {
    cursor: pointer;
    transform: translateY(5px);
}

@media (max-width: 768px) {
    .intro-section {
        padding-bottom: 5vh;
        padding-left: 20px;
        padding-right: 20px;
        min-height: auto;
    }

    .intro-container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .intro-content {
        max-width: 100%;
        text-align: center;
    }

    .name {
        text-align: center;
        margin: 0;
        white-space: normal;
        line-height: 1.1;
    }

    .college {
        text-align: center;
    }

    .intro-image {
        max-width: 100%;
        padding: 0;
        align-items: center;
    }

    .intro-image img {
        max-width: 300px;
        max-height: 300px;
        padding: 0;
    }

    .scroll_to_about {
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .intro-section {
        padding-bottom: 10vh;
    }

    .intro-image img {
        max-width: 250px;
        max-height: 250px;
    }

    .scroll_to_about {
        padding-top: 10px !important;
        margin-bottom: 0 !important;
    }
}
