.side-ascii-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
    display: block;
}

@media (max-width: 1050px) {
    .side-ascii-canvas {
        display: none;
    }
}
