.skill-section {
    justify-content: flex-start;
    padding: 40px 20px;
}

#skill-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px;
    background-color: black;
    border-radius: 10px;
}

#skills-header {
    color: white;
    font-size: clamp(2em, 4vw, 2.4em);
}

#languages_section, #frameworks_libraries_section, #tools_section {
    display: flex;
    flex-direction: column;
    border-left: 2px white solid;
    color: white;
    padding: 25px 20px;
    font-size: clamp(1em, 2.5vw, 1.3em);
}

#lang-label, #f_l_label, #tools-label {
    font-weight: 500;
    letter-spacing: -0.06em;
    margin-bottom: 10px;
}

#lang-items, #f_l_items, #tools-items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.skill-item {
    border: solid white;
    border-width: 0.5px;
    border-radius: 7px;
    padding: 5px 10px;
    color: white;
    letter-spacing: -0.05px;
    margin: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0.1em 0.1em;
}

.skill-item:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.2em;
}

.skill-name {
    padding-left: 9px;
    letter-spacing: -0.1px;
    font-size: clamp(0.6em, 1.5vw, 0.7em);
    font-weight: 500;
}

@media (max-width: 768px) {
    #skill-container {
        width: 100%;
        padding: 30px 20px;
    }

    #languages_section, #frameworks_libraries_section, #tools_section {
        border-left: none;
        padding-left: 0;
    }
}