.app-container {
    background-image: url('./assets/images/gray.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}